<% provide :title, "Nuevo Viaje" %>
<%= form_for :new_travel, url: travels_path, method: :create do |f| %>

  <%= f.label :auto %>
  <%= f.select :auto, options_from_collection_for_select(@travelers, "id", "username") %>
  
  <h5>Viajan: </h5>
  <ul class="text-center mx-auto my-2" style="list-style-type: none">
    <% @travelers.each do |t| %>
      <li>
        <%= f.check_box :traveler_name, {multiple: true}, t.id %>
        <%= f.label :traveler_name, t.first_name, for: "new_travel_traveler_name_#{t.id}" %>
        <i><%= f.label :traveler_name, "(#{t.username})", for: "new_travel_traveler_name_#{t.id}" %></i>
      </li>
    <% end %>
  </ul>
  <%= f.submit "Guardar Nuevo Viaje", class: 'btn btn-primary'%>
<% end %>
<%= link_to "Ver todos los Viajes", travels_path, class: 'btn btn-secondary my-2' %>